<footer class="footer  navbar shadow navbar-light sticky-bottom border-top py-3 mt-auto" style="background: white;">
	<div class="container">
		<span class="text-muted">&copy; CampgroundHQ 2023</span>
	</div>
</footer>
