<% layout('layouts/homeTemp') %>
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-light">
            <h1>CampgroundHQ</h1> 
            <p class="lead"> Welcome to CampgroundHQ! <br> Jump right in and explore our many campgrounds. <br>
                Feel free to share some of your own and comment on others!</p>
            <a href="/campgrounds" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white text-dark">View
                Campgrounds</a>
    </div>