@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Kufi+Arabic:wght@500;600&display=swap');

a {
	text-decoration: none;
	color: black;
	scroll-behavior: smooth;
}

body {
	font-family: sans-serif,'Noto Kufi Arabic';
}

textarea {
	resize: none;
}

.showBtn {
	position: fixed;
	bottom: 100px;
	left: 50%;
    transform: translate(-50%, 0);
}

.mapBtn {
	transition: all 300ms ease;
}

.mapBtn:hover {
	filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.4));
	transform: scale(1.2);
}

.mark-map {
	border-radius: 20px;
}
